<ion-header class="shadow"></ion-header>

<ion-content class="content">
  <ion-grid>
    <ion-segment>
      <ion-segment-button value="eightPoem" checked (click)="changeType(1)">
        <ion-label>กลอนแปดสุภาพ</ion-label>
      </ion-segment-button>
      <ion-segment-button value="fourPoem"  (click)="changeType(2)">
        <ion-label>โคลงสี่สุภาพ</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="ion-padding" *ngIf="eightPoem">
      <app-poems [poems]="eightPoemList"></app-poems>
    </div>
    <div class="ion-padding" *ngIf="fourPoem">
      <app-poems [poems]="fourPoemList"></app-poems>
    </div>
    <ion-infinite-scroll threshold="100px" [disabled]="!next" (ionInfinite)="reLoad($event)">
      <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
       </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
