<ion-header class="shadow"></ion-header>
<ion-content class="content" padding *ngIf="poem">
  <ion-grid>
    <h5>{{poem.update_date.$date | timeAgo }}</h5>
    <h1>กลอน {{poem.name}}</h1>
    <h3>
      ผู้แต่ง: 
      <a *ngFor="let a of author">{{ (a | async)?.username }}</a>
    </h3>
    <h3>ประเภท {{poem.poem_type}}</h3>
    <ion-row justify-content-center>
      <div id="progressBar"></div>
    </ion-row>
    <ion-row *ngIf="poem.result" justify-content-center>
      <ion-col *ngFor="let c of content" size="6">
        {{c}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand=full (click)="toggleExpandChart()">
          แสดงข้อมูลเชิงลึก
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!poem.is_private">
        <ion-button expand=full fill="clear" (click)="appendPoem(poem._id.$oid)" style="border: solid 1px;">
          ร่วมแต่งกลอน
        </ion-button>    
      </ion-col>
      <ion-col *ngIf="!checkIfUpvoted()">
        <ion-button (click)="toggleUpvote()" expand=full fill="clear" color="danger" style="border: solid 1px;color: #f04141" [disabled]="!authService.isAuthenticated()">
          <ion-icon name="heart"></ion-icon>
          ให้คะแนน
        </ion-button>
      </ion-col>
      <ion-col *ngIf="checkIfUpvoted()">
        <ion-button (click)="toggleUpvote()" expand=full fill="clear" color="danger" style="border: solid 1px;color: #f04141" [disabled]="!authService.isAuthenticated()">
          <ion-icon name="heart-dislike"></ion-icon>
          เลิกให้คะแนน
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-card [ngClass]="{'show': showChart, 'hide':!showChart}">
      <ion-card-header>
        <ion-card-title>
          ข้อมูลเชิงลึก
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="poem.poem_type == 'กลอนแปดสุภาพ'">
        <canvas #pieCanvas></canvas>
        <ion-row *ngIf="poem.result" justify-content-center>
          <ion-col *ngFor="let section of pronounce; let i = index" [attr.data-index]="i" size="6">
            <span style="font-size: 16px;"
              *ngFor="let s of section; let j = index" 
              [attr.data-index]="j"
              [ngClass]="{'success': key[i][j] == 'success', 'danger': key[i][j] == 'danger',  'secondary': key[i][j] == 'secondary','': key[i][j] == ''}">
              {{s}} 
            </span>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-row>
            <ion-button size="medium" fill="clear" (click)="toggleExpandInfo('perfect')">
              กลอนสุภาพ
              <ion-icon name="eye" *ngIf="info.perfect"></ion-icon>
              <ion-icon name="eye-off" *ngIf="!info.perfect"></ion-icon>
            </ion-button>      
          </ion-row>
          <ion-item [ngClass]="{'show': info['perfect'], 'hide':!info['perfect']}">
            <ion-icon color="success" *ngIf="poem.result.perfect[0] == 1" name="checkmark-circle-outline"></ion-icon>
            <ion-icon color="danger" *ngIf="poem.result.perfect[0] == 0" name="close-circle-outline"></ion-icon>
            <ion-label><span *ngIf="poem.result.perfect[0] == 0">ยังไม่</span>เป็นกลอนสุภาพ</ion-label>    
            <ion-button *ngIf="poem.result.perfect[0] == 0" 
              fill="clear" 
              style="border: solid 1px;border-radius: 4px;" 
              (click)="toggleExpandGuide('perfect')">
              แนวทางแก้ไข
              <ion-icon name="help"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-row [ngClass]="{'show': info['perfect'] && guide['perfect'], 'hide': !info['perfect'] || !guide['perfect']}">
            <ion-col>
              <div *ngFor="let sec of pronounce; let i = index" [attr.data-index]="i"><span *ngIf="sec.length != 8">วรรคที่ {{i+1}} มี {{sec.length}} พยางค์</span></div>       
              ควรตัดคำเหรือลดคำทำให้มีคำอ่านให้เป็น 8 พยางค์เพื่อเป็นกลอนสุภาพ
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button size="medium" fill="clear" (click)="toggleExpandInfo('inter_section_rhymes')">
              สัมผัสนอก
              <ion-icon name="eye" *ngIf="info.inter_section_rhymes"></ion-icon>
              <ion-icon name="eye-off" *ngIf="!info.inter_section_rhymes"></ion-icon>
            </ion-button>      
          </ion-row>
          <ion-item 
          [ngClass]="{'show': info['inter_section_rhymes'], 'hide':!info['inter_section_rhymes']}" 
          *ngFor="let r of poem.result.inter_section_rhymes; let i = index" 
          [attr.data-index]="i">
            <ion-icon color="success" *ngIf="poem.result.inter_section_rhymes[i] == 1" name="checkmark-circle-outline"></ion-icon>
            <ion-icon color="danger" *ngIf="poem.result.inter_section_rhymes[i] == 0" name="close-circle-outline"></ion-icon>
            <ion-label><span *ngIf="poem.result.inter_section_rhymes[i] == 0">ไม่</span>มีสัมผันนอกระหว่างวรรค {{i+1}} และ {{i+2}} </ion-label>
            <ion-button 
              *ngIf="poem.result.inter_section_rhymes[i] == 0" 
              fill="clear" 
              style="border: solid 1px;border-radius: 4px;"
              (click)="toggleExpandGuide('inter_section_rhymes')">
              แนวทางแก้ไข
              <ion-icon name="help"></ion-icon>
            </ion-button>
            <ion-button (click)="toggleCheckRhyme(0, i)">แสดง</ion-button>
          </ion-item>
          <ion-row [ngClass]="{'show': info['inter_section_rhymes'] && guide['inter_section_rhymes'], 'hide': !info['inter_section_rhymes'] || !guide['inter_section_rhymes']}">
            <ion-col>
              <div *ngFor="let sec of poem.result['inter_section_rhymes']; let i = index" [attr.data-index]="i">
                <div *ngIf="poem.result['inter_section_rhymes'][i] == 0 && i%3==0">พยางค์สุดท้ายของวรรคที่ {{i+1}} และพยางค์ที่สามของวรรคที่ {{i+2}} ต้องมีสัมผัสดังภาพที่ 1</div>
                <div *ngIf="poem.result['inter_section_rhymes'][i] == 0 && i%3==1">พยางค์สุดท้ายของวรรคที่ {{i+1}} และพยางค์สุดท้ายของวรรคที่ {{i+2}} ต้องมีสัมผัสดังภาพที่ 2</div>
                <div *ngIf="poem.result['inter_section_rhymes'][i] == 0 && i%3==2">พยางค์สุดท้ายของวรรคที่ {{i+1}} และพยางค์ที่สามของวรรคที่ {{i+2}} ต้องมีสัมผัสดังภาพที่ 1</div>
              </div>
              ภาพที่ 1
              <img class="analysis" src="../../assets/inter_section_diagram.png" width="100%" height="auto"/>
              ภาพที่ 2
              <img class="analysis" src="../../assets/inter_section_diagram2.png" width="100%" height="auto"/>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button size="medium" fill="clear" (click)="toggleExpandInfo('intra_section_rhymes')">
              สัมผัสในสระ
              <ion-icon name="eye" *ngIf="info.intra_section_rhymes"></ion-icon>
              <ion-icon name="eye-off" *ngIf="!info.intra_section_rhymes"></ion-icon>
            </ion-button>
          </ion-row>
          <ion-item 
          [ngClass]="{'show': info['intra_section_rhymes'], 'hide':!info['intra_section_rhymes']}" 
          *ngFor="let r of poem.result.intra_section_rhymes; let i = index" 
          [attr.data-index]="i">
            <ion-icon color="success" *ngIf="poem.result.intra_section_rhymes[i] != 0" name="checkmark-circle-outline"></ion-icon>
            <ion-icon color="danger" *ngIf="poem.result.intra_section_rhymes[i] == 0" name="close-circle-outline"></ion-icon>
            <ion-label *ngIf="poem.result.intra_section_rhymes[i] !=0">สัมผัสในที่วรรคที่ {{i+1}} มี {{r}} จุด </ion-label>      
            <ion-label *ngIf="poem.result.intra_section_rhymes[i] == 0">สัมผัสในที่วรรคที่ {{i + 1}} ไม่มีสัมผัสใน </ion-label>      
            <ion-button 
              *ngIf="poem.result.intra_section_rhymes[i] == 0" 
              fill="clear" 
              style="border: solid 1px;border-radius: 4px;"
              (click)="toggleExpandGuide('intra_section_rhymes')">
              แนวทางแก้ไข
              <ion-icon name="help"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-row [ngClass]="{'show': info['intra_section_rhymes'] && guide['intra_section_rhymes'], 'hide': !info['intra_section_rhymes'] || !guide['intra_section_rhymes']}">
            <ion-col>
              สามารถเพิ่มสัมผัสในพยางค์ที่ 3 และ 5 กับ พยางค์ 6 และ 7 หรือ 8 ได้ดังภาพ
              <img class="analysis" src="../../assets/intra_section_diagram.png" width="100%" height="auto"/>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button size="medium" fill="clear" (click)="toggleExpandInfo('alphabet_rhymes')">
              สัมผัสในพยัญชนะ
              <ion-icon name="eye" *ngIf="info.alphabet_rhymes"></ion-icon>
              <ion-icon name="eye-off" *ngIf="!info.alphabet_rhymes"></ion-icon>
            </ion-button>
          </ion-row>
          <ion-item 
          [ngClass]="{'show': info['alphabet_rhymes'], 'hide':!info['alphabet_rhymes']}" 
          *ngFor="let r of poem.result.alphabet_rhymes; let i = index" 
          [attr.data-index]="i">
            <ion-icon color="success" *ngIf="poem.result.alphabet_rhymes[i] != 0" name="checkmark-circle-outline"></ion-icon>
            <ion-icon color="danger" *ngIf="poem.result.alphabet_rhymes[i] == 0" name="close-circle-outline"></ion-icon>
            <ion-label *ngIf="poem.result.alphabet_rhymes[i] !=0">สัมผัสในที่วรรคที่ {{i+1}} มี {{r}} จุด </ion-label>      
            <ion-label *ngIf="poem.result.alphabet_rhymes[i] == 0">สัมผัสในที่วรรคที่ {{i + 1}} ไม่มีสัมผัสใน </ion-label>      
            <ion-button 
              *ngIf="poem.result.alphabet_rhymes[i] == 0" 
              fill="clear" 
              style="border: solid 1px;border-radius: 4px;"
              (click)="toggleExpandGuide('alphabet_rhymes')">
              แนวทางแก้ไข
              <ion-icon name="help"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-row [ngClass]="{'show': info['alphabet_rhymes'] && guide['alphabet_rhymes'], 'hide': !info['alphabet_rhymes'] || !guide['alphabet_rhymes']}">
            <ion-col>
              <div *ngFor="let sec of poem.result['alphabet_rhymes']; let i = index" [attr.data-index]="i">
                <div *ngIf="poem.result['alphabet_rhymes'][i] == 0">วรรคที่ {{i+1}} สามารถเพิ่มสัมผัสพยัญชนะเพื่อความไพเราะได้</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button size="medium" fill="clear" (click)="toggleExpandInfo('tones')">
              วรรณยุกต์
              <ion-icon name="eye" *ngIf="info.tones"></ion-icon>
              <ion-icon name="eye-off" *ngIf="!info.tones"></ion-icon>
            </ion-button>
          </ion-row>
          <ion-item 
          [ngClass]="{'show': info['tones'], 'hide': !info['tones']}" 
          *ngFor="let r of poem.result.tones; let i = index" 
          [attr.data-index]="i">
            <ion-icon color="success" *ngIf="poem.result.tones[i] == 2" name="checkmark-circle-outline"></ion-icon>
            <ion-icon color="secondary" *ngIf="poem.result.tones[i] == 1" name="checkmark-circle-outline"></ion-icon>
            <ion-icon color="danger" *ngIf="poem.result.tones[i] == 0" name="close-circle-outline"></ion-icon>
            <ion-label *ngIf="poem.result.tones[i] == 2">วรรคที่ {{i+1}} มีเสียงลงท้ายไพเราะ</ion-label>      
            <ion-label *ngIf="poem.result.tones[i] == 1">วรรคที่ {{i+1}} มีเสียงลงท้ายเหมาะสม</ion-label>      
            <ion-label *ngIf="poem.result.tones[i] == 0">วรรคที่ {{i+1}} มีเสียงลงท้ายไม่ไพเราะ </ion-label>   
            <ion-button 
              *ngIf="poem.result.tones[i] == 0" 
              fill="clear" 
              style="border: solid 1px;border-radius: 4px;"
              (click)="toggleExpandGuide('tones')">
              แนวทางแก้ไข
              <ion-icon name="help"></ion-icon>
            </ion-button>
            <ion-button (click)="toggleCheckRhyme(3, i)">แสดง</ion-button>   
          </ion-item>
          <ion-row [ngClass]="{'show': info['tones'] && guide['tones'], 'hide': !info['tones'] || !guide['tones']}">
            <ion-col>
              <div *ngFor="let sec of poem.result['tones']; let i = index" [attr.data-index]="i">
                <div *ngIf="poem.result['tones'][i] == 0 && i%3==0">พยางค์สุดท้ายของวรรคที่ {{i+1}} ห้ามลงท้ายด้วยเสียงสามัญ</div>
                <div *ngIf="poem.result['tones'][i] == 0 && i%3==1">พยางค์สุดท้ายของวรรคที่ {{i+1}} ห้ามลงท้ายด้วยเสียง สามัญ และ ตรี</div>
                <div *ngIf="poem.result['tones'][i] == 0 && i%3==2">พยางค์สุดท้ายของวรรคที่ {{i+1}} ห้ามลงท้ายด้วยเสียง เอก โท จัตวา</div>
                <div *ngIf="poem.result['tones'][i] == 0 && i%3==3">พยางค์สุดท้ายของวรรคที่ {{i+1}} ห้ามลงท้ายด้วยเสียง เอก โท จัตวา</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="poem.result.content.length > 4 && poem.poem_type == 'กลอนแปดสุภาพ'">
            <ion-button size="medium" fill="clear" (click)="toggleExpandInfo('tones')">
              สัมผัสระหว่างบท
              <ion-icon name="eye" *ngIf="info.tones"></ion-icon>
              <ion-icon name="eye-off" *ngIf="!info.tones"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-list>
        <ion-row *ngIf="suggestWord.length > 0">
          <ion-col>
            คำที่อาจเขียนผิด
            <div *ngFor="let word of suggestWord">{{word.original}} : {{word.suggest}}</div>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-card-content *ngIf="poem.poem_type == 'โคลงสี่สุภาพ'">
        <canvas #pieCanvas></canvas>
        <ion-row *ngIf="poem.result" justify-content-center>
          <ion-col *ngFor="let section of pronounce; let i = index" [attr.data-index]="i" size="6">
            <span style="font-size: 16px;"
              *ngFor="let s of section; let j = index" 
              [attr.data-index]="j"
              [ngClass]="{'success': key[i][j] == 'success', 'danger': key[i][j] == 'danger',  'secondary': key[i][j] == 'secondary','': key[i][j] == ''}">
              {{s}} 
            </span>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-row>
            <ion-button size="medium" fill="clear" (click)="toggleExpandInfo('inter_section_rhymes')">
              สัมผัสนอก
              <ion-icon name="eye" *ngIf="info.inter_section_rhymes"></ion-icon>
              <ion-icon name="eye-off" *ngIf="!info.inter_section_rhymes"></ion-icon>
            </ion-button>      
          </ion-row>
          <ion-item 
          [ngClass]="{'show': info['inter_section_rhymes'], 'hide':!info['inter_section_rhymes']}" 
          *ngFor="let r of poem.result.inter_section_rhymes; let i = index" 
          [attr.data-index]="i">
            <ion-icon color="success" *ngIf="poem.result.inter_section_rhymes[i] == 1" name="checkmark-circle-outline"></ion-icon>
            <ion-icon color="danger" *ngIf="poem.result.inter_section_rhymes[i] == 0" name="close-circle-outline"></ion-icon>
            <ion-label><span *ngIf="poem.result.inter_section_rhymes[i] == 0">ไม่</span>มีสัมผันนอกระหว่างวรรค {{i+1}} และ {{i+2}} </ion-label>
            <ion-button 
              *ngIf="poem.result.inter_section_rhymes[i] == 0" 
              fill="clear" 
              style="border: solid 1px;border-radius: 4px;"
              (click)="toggleExpandGuide('inter_section_rhymes')">
              แนวทางแก้ไข
              <ion-icon name="help"></ion-icon>
            </ion-button>
            <ion-button (click)="toggleCheckRhyme(4, i)">แสดง</ion-button>
          </ion-item>
          <ion-row [ngClass]="{'show': info['inter_section_rhymes'] && guide['inter_section_rhymes'], 'hide': !info['inter_section_rhymes'] || !guide['inter_section_rhymes']}">
            <ion-col>
              <div *ngFor="let sec of poem.result['inter_section_rhymes']; let i = index" [attr.data-index]="i">
                <div *ngIf="poem.result['inter_section_rhymes'][i] == 0 && i%3==0">พยางค์ที่สองของวรรคที่ {{i+1}} และพยางค์สุดท้ายของวรรคที่ {{i+2}} ต้องมีสัมผัสสระ</div>
                <div *ngIf="poem.result['inter_section_rhymes'][i] == 0 && i%3==1">พยางค์ที่สองของวรรคที่ {{i+1}} และพยางค์สุดท้ายของวรรคที่ {{i+3}} ต้องมีสัมผัสสระ</div>
                <div *ngIf="poem.result['inter_section_rhymes'][i] == 0 && i%3==2">พยางค์สุดท้ายของวรรคที่ {{i+3}} และพยางค์ที่สามของวรรคที่ {{i+6}} ต้องมีสัมผัสสระ</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button size="medium" fill="clear" (click)="toggleExpandInfo('tones')">
              วรรณยุกต์
              <ion-icon name="eye" *ngIf="info.tones"></ion-icon>
              <ion-icon name="eye-off" *ngIf="!info.tones"></ion-icon>
            </ion-button>      
          </ion-row>
          <ion-item 
          [ngClass]="{'show': info['tones'], 'hide':!info['tones']}" 
          *ngFor="let r of poem.result.tones; let i = index" 
          [attr.data-index]="i">
            <ion-icon color="success" *ngIf="poem.result.tones[i] == 1" name="checkmark-circle-outline"></ion-icon>
            <ion-icon color="danger" *ngIf="poem.result.tones[i] == 0" name="close-circle-outline"></ion-icon>
            <ion-label>มีวรรณยุกต์ที่<span *ngIf="poem.result.tones[i] == 0">ไม่</span>ถูกต้องในจุดที่ {{i+1}}</ion-label>
            <ion-button 
              *ngIf="poem.result.tones[i] == 0" 
              fill="clear" 
              style="border: solid 1px;border-radius: 4px;"
              (click)="toggleExpandGuide('tones')">
              แนวทางแก้ไข
              <ion-icon name="help"></ion-icon>
            </ion-button>
            <ion-button (click)="toggleCheckRhyme(5, i)">แสดง</ion-button>
          </ion-item>
          <ion-row [ngClass]="{'show': info['tones'] && guide['tones'], 'hide': !info['tones'] || !guide['tones']}">
            <ion-col>
              <div *ngFor="let sec of poem.result['tones']; let i = index" [attr.data-index]="i">
                <div *ngIf="poem.result['tones'][i] == 0 && i%3==0">พยางค์ที่สองของวรรคที่ {{i+1}} และพยางค์สุดท้ายของวรรคที่ {{i+2}} ต้องมีสัมผัสสระ</div>
                <div *ngIf="poem.result['tones'][i] == 0 && i%3==1">พยางค์ที่สองของวรรคที่ {{i+1}} และพยางค์สุดท้ายของวรรคที่ {{i+3}} ต้องมีสัมผัสสระ</div>
                <div *ngIf="poem.result['tones'][i] == 0 && i%3==2">พยางค์สุดท้ายของวรรคที่ {{i+3}} และพยางค์ที่สามของวรรคที่ {{i+6}} ต้องมีสัมผัสสระ</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-item-divider></ion-item-divider>
    <ion-row>
      <ion-button fill="clear" color="danger" size="large">
        <ion-icon name="heart"></ion-icon>
        {{poem.upvote.length}} คะแนน
      </ion-button>    
    </ion-row>
    <h4>แสดงความเห็นกลอนนี้</h4>
    <form>
        <ion-textarea #comment type="text" placeholder="ใส่ความเห็นที่นี่..." style="border: solid 1px;border-radius: 4px;"></ion-textarea>
        <ion-row justify-content-end>
          <ion-button (click)="onComment(comment.value)" size="medium" [disabled]="!authService.isAuthenticated()">
            แสดงความเห็น
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-row>
      </form>
    <ion-item-divider></ion-item-divider>
    <h4>ความคิดเห็น</h4>
    <ion-list>
      <ion-item *ngFor="let comment of poem.comment; let i = index" [attr.data-index]="i">
        <ion-avatar slot="start">
          <img src="../../../assets/avatar.svg">
        </ion-avatar>
        <ion-label>
          <h2>{{ (commentAuthor[i] | async)?.username }}</h2>
          <p>{{ comment.comment_date.$date | timeAgo }}</p>
          <h3>{{ comment.content }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
    
  </ion-grid>
</ion-content>
  