<ion-content class="content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/']" >
          <ion-icon name="arrow-back"></ion-icon>
          กลับสู่หน้าหลัก
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>เข้าสู่ระบบ</h1>
      </ion-col>    
    </ion-row>
    <ion-card>
      <ion-row justify-content-center>
        <ion-col>
          <form [formGroup]="loginForm" (onSubmit)="login()" (change)="changed()">
            <ion-item>
              <ion-label position="floating" color="primary">
                Email
                <ion-icon name="mail"></ion-icon>
              </ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">
                รหัสผ่าน
                <ion-icon name="key"></ion-icon>
              </ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </form>      
        </ion-col>
      </ion-row>
      <ion-row *ngIf="error">
        <ion-col>
          <ion-label color="danger">โปรดตรวจสอบ Email และ รหัสผ่านใหม่</ion-label>
        </ion-col>
      </ion-row>  
      <ion-row justify-content-center>
        <ion-col size="10">
          <ion-button expand="block" (click)="login()" [disabled]="loading">เข้าสู่ระบบ</ion-button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col size="10">
          <ion-button fill="clear" [routerLink]="['/register']" expand="block">สมัครสมาชิก</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
