<ion-tabs>
  <ion-header class="header">
    <ion-toolbar class="toolbar" fixed>
      <ion-title>Alglornrithm</ion-title>
      <ion-button *ngIf="!getUserLoggedIn()" slot="end" fill="clear" [routerLink]="['/login']">เข้าสู่ระบบ</ion-button>
      <ion-button *ngIf="!getUserLoggedIn()" slot="end" [routerLink]="['/register']">สมัครสมาชิก</ion-button>  
      <ion-button *ngIf="getCurrentUser()" slot="end" fill="clear">
        <ion-icon name="person"></ion-icon>
        {{this.currentUser.username}}
      </ion-button>
      <ion-button *ngIf="getCurrentUser()" slot="end" (click)="logout()">ลงชื่อออก</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="search"></ion-icon>
      <ion-label>สำรวจ</ion-label>
    </ion-tab-button>  

    <ion-tab-button tab="write_poem">
      <ion-icon name="brush"></ion-icon>
      <ion-label>แต่งกลอน</ion-label> 
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>หน้าผู้ใช้งาน</ion-label>
    </ion-tab-button>  
  </ion-tab-bar>

</ion-tabs>
