<ion-list *ngIf="poems && poems.length > 0">
  <div *ngFor="let poem of poems">
    <app-poem [poem]="poem"></app-poem>
  </div>
</ion-list>
<p *ngIf="poems && poems.length == 0">
  ไม่มีกลอนที่พบ
</p>
<p *ngIf="!poems">
  Loading...
</p>