<ion-content class="content">
  <ion-grid *ngIf="poem">
    <form [formGroup]="poemForm">
      <h1>ร่วมแต่งกลอน: {{poem.name}}</h1>
      <ion-item>
        <ion-label>ประเภท</ion-label>
        <ion-input type="text" [disabled]="true" [value]="poem.poem_type"></ion-input>
      </ion-item>
      <ion-row style="margin-top: 2%">
        เนื้อหา
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let sec of keySection" class="poem-field" size="12">
          วรรคที่{{sec}}
          <span *ngIf="checkIfSecLessThanContent(sec-1)">
            <ion-row justify-content-center *ngIf="content[sec-1].length > 0">
              <ion-col *ngFor="let con of content[sec-1]">
                <span class="con">
                  {{con}}
                </span>
              </ion-col>    
            </ion-row>
            <ion-row justify-content-center *ngIf="!content[sec-1].length > 0">
              <ion-col *ngFor="let s of key['section'+sec]">
                <ion-input class="input-field" 
                  type="text" 
                  [formControlName]="s"
                  (ionFocus)="suggestWord(s)"
                  (ionBlur)="completeSuggestWordField()"
                  [placeholder]="(targetSuggestWordField == s)? suggestWordList[0] : null"
                  ></ion-input>
              </ion-col>
            </ion-row>    
          </span>
          <ion-row *ngIf="!checkIfSecLessThanContent(sec-1)">
            <ion-col *ngFor="let s of key['section'+sec]">
              <ion-input class="input-field" 
                type="text" 
                [formControlName]="s"
                (ionFocus)="suggestWord(s)"
                (ionBlur)="completeSuggestWordField()"
                [placeholder]="(targetSuggestWordField == s)? suggestWordList[0] : null"
                ></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-button size="large" fill="clear" (click)="addChapter()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button size="large" fill="clear" (click)="removeChapter()" [disabled]="sections == content.length">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-row justify-content-center>
        <ion-button size="medium" (click)="onSubmit()">
          แต่งกลอน
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>
